<h5>
  Choississez La catégorie dans laquelle apparaitra votre annonce:
</h5>
<br>
<div class="container">
  <div class="row">
    <ng-container *ngFor="let c of categories; let file of fileUploads ;let i = index" >
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{{file.url}}"alt="{{file.name}}" style="max-width:350px"/>
          <div class="card-body">
            <h5 class="card-title">{{c.name}}</h5>
          </div>
        </div>
      </div>
      <div *ngIf="(i + 1) % 3 === 0" class="w-100"></div>
    </ng-container>
  </div>
</div>
