<div class="container">

  <div class="row" id="pwd-container">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <section class="login-form">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input type="email" name="email" id="email" placeholder="Email" formControlName="email"
                   class="form-control input-lg"/>
            <input type="password" class="form-control input-lg" name="password" id="password" formControlName="password"
                   placeholder="Password"/>
          </div>
          <div class="form-group">
            <button name="go" class="btn btn-lg btn-primary btn-block">Se connecter</button>
          </div>
          <div class="form-group">
            <a [routerLink]="['/logup']">Créer un compte</a> ou <a [routerLink]="['/resetPassword']">réinitialiser le
            mot de passe</a>
          </div>
          <div>
            <button
              (click)="loginWithGoogle()"
              class="btn btn-danger"><i class="fa fa-google fa-lg"></i> Se connecter via google
            </button>
          </div>
        </form>
        <p class="text-danger"> {{errorMessage}}</p>
      </section>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>


